@{
    ViewData["Title"] = "Add";
}

<div style="display: flex; justify-content: center;">
    <form action="AddTodo" method="post">
        <div class="form-control">
            <div class=""><input placeholder="Title" class="border border-gray px-5 py-3 fs-5 w-100" /></div>
          
            <div class="mt-1"><textarea class="text-area border w-100" maxlength="1000"></textarea></div>
        </div>
    </form>
</div>
